In [1]:
import pandas as pd
import snscrape.modules.twitter as scraper

In [2]:
sc=scraper.TwitterUserScraper("WHO")
tweets=[]
for i,tweet in enumerate(sc.get_items()):
    if i>1000:
        break
    tweets.append([tweet.rawContent,"Health"])

df=pd.DataFrame(tweets,columns=['Tweet','Label'])
df.to_csv('WHO.csv')

file=pd.read_csv('WHO.csv')
file

      Unnamed: 0                                              Tweet   Label
0              0  WHO's latest report highlights that one in six...  Health
1              1  "It's really important that we are able to lin...  Health
2              2  In response to the devastating earthquakes imp...  Health
3              3  "We've got an immediate focus here of life-sav...  Health
4              4  Devastating earthquakes struck #T√ºrkiye and #S...  Health
...          ...                                                ...     ...
996          996  @DrTedros "WHO continues to urge caution, and ...  Health
997          997  @DrTedros "Testing and sequencing rates remain...  Health
998          998  @DrTedros "We have come a long way, and this i...  Health
999          999  @DrTedros "Just over 9,400 #COVID19 deaths wer...  Health
1000        1000  @DrTedros "To fund our work supporting the Gov...  Health

[1001 rows x 3 columns]

In [3]:
sc=scraper.TwitterUserScraper("FIFAcom")
tweets=[]
for i,tweet in enumerate(sc.get_items()):
    if i>1000:
        break
    tweets.append([tweet.rawContent,"Sports"])
    
df=pd.DataFrame(tweets,columns=['Tweet','Label'])
df.to_csv('FIFA.csv')

file=pd.read_csv('FIFA.csv')
file

      Unnamed: 0                                              Tweet   Label
0              0  Fans from every corner of the globe uniting in...  Sports
1              1  Football brings us joy, passion, peace and lov...  Sports
2              2  ‚ÄúOur aim is to create a more welcoming, inclus...  Sports
3              3  The finalists are in for each category for #Th...  Sports
4              4                                    @NormanMaroto üëè  Sports
...          ...                                                ...     ...
996          996  @NFFC A beautiful gesture. Gone but never forg...  Sports
997          997  #HappyHoli to everyone celebrating \n‚ù§Ô∏èüíôüíöüß°üíõüíú h...  Sports
998          998  üîô Not long ago she was a quintessential school...  Sports
999          999  Being selected by your country is an honour ma...  Sports
1000        1000      @USWNT @MiaHamm üéÇü§©\n\nhttps://t.co/OTZlxPV0tz  Sports

[1001 rows x 3 columns]

In [4]:
sc=scraper.TwitterUserScraper("DRDO_India")
tweets=[]
for i,tweet in enumerate(sc.get_items()):
    if i>1000:
        break
    tweets.append([tweet.rawContent,"Technology"])
    
df=pd.DataFrame(tweets,columns=['Tweet','Label'])
df.to_csv('DRDO.csv')

file=pd.read_csv('DRDO.csv')
file

,Unnamed: 0,Tweet,Label
0,0,Congratulations @BrahMosMissile team for 25 ye...,Technology
1,1,SemEval (the International Workshop on Semanti...,Technology
2,2,#DRDOUpdates | In SemEval 2023 Task 2: Multili...,Technology
3,3,"A panel discussion on ""The Perspectives of Res...",Technology
4,4,"Many eminent keynote speakers from #DRDO, @IAF...",Technology
...,...,...,...
996,996,Handing over ceremony of Varunastra to Indian ...,Technology
997,997,Handingover ceremony of Varunastra to Indian N...,Technology
998,998,Handing over of Varunastra to Indian Navy toda...,Technology
999,999,Handing over ceremony of Varunastra to Indian ...,Technology
1000,1000,Video clip of Varunastra \n\n#DRDO https://t.c...,Technology